a {
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

html {
  scroll-behavior: smooth;
}

#logo-home {
  position: absolute;
  z-index: 1000;
}

.home-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: opacity 1s ease-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.filters {
  display: none;
}

.content {
  display: none;
}

.visible {
  display: block;
}

.navbar {
}
