a {
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
}

h1 {
  text-align: start;
  margin: 15px;
}

html {
  scroll-behavior: smooth;
}

#logo-home {
  position: absolute;
  z-index: 1000;
}

.home-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: opacity 1s ease-out;
}

.head-logo {
  border-bottom: solid #d01fe5;
}
