<div class="homepage">
  <a href="/users">
    <div data-controller="home-screen">
      <div class="home-screen" data-home-screen-target="animation">
        <%= image_tag "logo_band_shadowed.png", alt: "logo Band", id: "logo-home" %>
        <%= video_tag "video_homepage.mp4", size: "100vw 100vh", autoplay: true, loop: true, muted: true, crop: :true, playsinline: true %>
      </div>
  </a>
</div>
