
<%# <%= @unavailabilities.inspect %>

<%= month_calendar do |date| %>
  <%= date.day %>

  <%# <% unavailabilities.each do |u| %>
    <%# <div>
      <%= u.start_date %>
    <%# </div>
  <% end %>

<% end %>
