<div class="py-3">
  <h5><strong>Members' unavailabilities</strong></h5>
</div>

<div>
  <%= month_calendar(events: @unavailabilities) do |date, unavailabilities| %>
    <%= date.day %>

      <% unavailabilities.each do |u| %>
        <div class="unavailability">
        <%= u.user.firstname %>
        </div>
      <% end %>

  <% end %>

  <div class="d-grid gap-2 m-5">
    <%= link_to "Add event", "#", class:"btn btn-primary long-btn"%>
  </div>
</div>
