<div class="mt-4">
  <div class="ms-2">
    <% @tasks.where(done: true).each do |task| %>
      <div>
        <li class="list-unstyled mt-3">
          <i class="fa-solid fa-square-check"></i>
          <%= task.content %></li>
        <li class="list-unstyled">
          <%= task.user.firstname %>
          <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </li>
      </div>
    <% end %>
  </div>
</div>
