<h1>My bands</h1>

<%= render "bands/form-create", band: Band.new %>

  <% if @bands.any? %>
    <% @bands.each do |band| %>
    <%= band.name %>
    <%= band.photo %>
    <% end %>
  <% else %>
    <p>Sorry, you don't have any band yet.</p>
  <% end %>
