<div class="container">

  <h1>My bands</h1>

  <div class="d-grid gap-2 m-3">
    <%= link_to "Create a new band", new_band_path, class:"btn btn-primary"%>
  </div>

  <div class="m-3">
    <% if @bands.any? %>
      <% @bands.each do |band| %>
        <% if band.photo.attached? %>
          <%= cl_image_tag band.photo.key, alt: "#{band.name}", height: 50, width: 50, crop: :fill, class:"rounded-circle" %>
          <% end %>
          <%= link_to band.name, band_path(band) %>
          <%= link_to band_path(band), data: {turbo_method: :delete, turbo_confirm: "Delete #{band.name}?"} do %>
            <i class="fa-solid fa-trash"></i>
            <% end %>
        <% end %>
        <% else %>
            <p>Sorry, you don't have any band yet.</p>
        <% end %>
  </div>
</div>
