<div class="container">

  <div class="mt-5 mb-5">
    <h1>My bands</h1>
  </div>
  <div class="d-grid gap-2 m-3">
    <%= link_to "New band", new_band_path, class:"btn btn-primary long-btn"%>
  </div>

  <div class="m-3">
    <% if current_user.user_bands.any? %>
      <% current_user.user_bands.sort_by(&:created_at).each do |user_band| %>
      <li class="list-unstyled my-4 d-flex">
        <% if user_band.band.photo.attached? %>
          <%= cl_image_tag user_band.band.photo.key, alt: "#{user_band.band.name}", height: 50, width: 50, crop: :fill, class:"rounded-circle" %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="text", class="rounded-circle mx-auto d-block", width="50", height="50" >
        <% end %>
          <div class="d-flex justify-content-between align-items-center ms-2" style="width:100%">
            <%= link_to user_band.band.name, band_path(user_band.band) %>
            <%= link_to band_path(user_band.band), data: {turbo_method: :delete, turbo_confirm: "Delete #{user_band.band.name}?"} do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        <% end %>
        <% else %>
            <p>Sorry, you don't have any band yet.</p>
        <% end %>
      </li>
  </div>
</div>
