.tag-link {
  color: white!important;
}

.long-btn {
  background-color: #D01FE5;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.long-btn .disable {
  background-color: #79647b;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accept {
  color: #2FD132;
  font-size: 25px;
  margin: 2px;
}

.decline {
  color:#D01FE5;
  font-size: 25px;
  margin: 2px;
}

.tabs-line {
  border-bottom: solid grey!important;
}

.nav-item .active {
  border-bottom: solid #D01FE5!important;
  font-weight: bolder;
}
