.unavailability-user0 {
    background-color: #D01FE5;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    margin-bottom: 3px;
}

.unavailability-user1 {
  background-color: #04797d;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  margin-bottom: 3px;
}

.unavailability-user2 {
  background-color: white;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  margin-bottom: 3px;
}

.unavailability-user3 {
  background-color: rgb(236, 145, 26);
  height: 17px;
  width: 17px;
  border-radius: 50%;
  margin-bottom: 3px;
}

.event-gig {
  background-color: yellow;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  margin-bottom: 3px;
}

.event-rehearsal {
  background-color: #75e3f7;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  margin-bottom: 3px;
}
