.unavailability-user0 {
    background-color: #D01FE5;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    margin-bottom: 3px;
}

.unavailability-user1 {
  background-color: #04797d;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  margin-bottom: 3px;
}

.unavailability-user2 {
  background-color: white;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  margin-bottom: 3px;
}
