// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";

body,
html {
  width: 100%;
  height: 100%;
  background-color: #170f23;
  margin-top: 50px;
  color: white;
}

h1 {
  font-size: 3em;
  color: white;
}

a {
  color: white;
}
