// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "components/filters";
@import "components/card";
@import "components/mybands_cards";

body {
  width: 100%;
  height: 100%;
  background-color: #170f23;
  color: $text-color;
}

h1 {
  font-size: 2.5em;
  font-family: Rowdies, sans-serif;
  color: white;
  text-align: center;
}

a {
  color: white;
}

.col-form-label {
  display: none;
}
